@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c8e8e9;
}

.container{
    width: 70%;
    background-color: #fff;
    padding: 20px 60px 40px 60px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.container .contactform{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .contactform .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .contactform .left-side .details{
    text-align: center;
    margin: 14px;
}
.container .contactform .left-side .details i{
    font-size: 30px;
    color: #3e2096;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container .contactform .left-side .details .topic{
    font-size: 18px;
    font-weight: 600;
}
.container .contactform .left-side .details .text,
.container .contactform .left-side .details .text-two{
    font-size: 14px;
    color: #333;
}
.container .contactform .right-side{
    width: 75%;
    margin-left: 75px;
}
.container .contactform .right-side .topic-text{
    font-size: 25px;
    font-weight: 600;
    color: #3e2096;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;

}
.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f0f1f8;
    padding: 0 15px;
    resize: none;
    /* padding-left: 15px;
    font-size: 16px;
    outline: none; */
}
.right-side .massagebox{
min-height: 110px;
}
.right-side .button input[type="button"]{
    display: inline-block;
    margin-top: 12px;
    font-size: 18px;
    color: #3e2096;
    font-weight: 500;
    background: #fff;
    border: 2px solid #3e2096;
    border-radius: 6px;
    padding: 5px 15px;
}
.right-side .button input[type="button"]:hover{
    background: #3e2096;
    color: #fff;
    cursor: pointer;
}

@media(max-width: 950px){
    .container{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}
@media(max-width:820px){
    .container{
        margin: 40px 0;
        height: 100%
    }
    .container .contactform{
        flex-direction: column-reverse;
    }
    .container .contactform .left-side{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .container .contactform .right-side{
        width: 100%;
        margin-left: 0;
    }
}
